<!-- templates/content.html -->
{% extends 'template.html' %}
{% include  'navbar.html' %}
{% block content %}
    <div class="container mt-2">
        {% if dataerrors == "" %}
            <table id="datatables" class="display" style="width:100%">
                <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Nama</th>
                    <th>ip_address</th>
                    <th>Firmware</th>
                    <th>Tipe Mesin</th>
                </tr>
                </thead>
                <tbody>
                {% for row in data %}

                    <tr>
                        <td><a href="{{ url_for("main.transaksipage",name=row[0],tgl1=tgl1,tgl2=tgl2)}}" class="cursor-pointer font-bold">{{  row[0] }}</a></td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
            <span class="text-2xl font-bold">{{ dataerrors }}</span>
        {% endif %}

    </div>

{% endblock %}
